# Archivos de Build de Maven
target/

# Archivos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Logs
*.log

# Archivos de STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache